{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intouch &mdash; Smart Survey | blog | ideas and many more</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" href="{% static 'index/fonts/icomoon/style.css' %}">
    <link rel="shortcut icon" href="{% static 'index/images/img_1.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/animate.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'index/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'index/css/fl-bigmug-line.css' %}">
  
    <link rel="stylesheet" href="{% static 'index/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
    <style type="text/css" rel="stylesheet">
      textarea{
        height: 65px;
        border-color: green;
        border-radius: 5px;
        border-width: 2px;
        width: 100%;
      }

      @media only screen  and (max-width: 780px){
        .blog-section{
          position: relative;
          top: 200px
        }
        .tech{
          margin-top: 160px;
        }
      }
    </style>
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <header class="site-navbar py-1" role="banner" style="position: fixed; background-color: white">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'home' %}" class="text-black h2 mb-0"><img height="50px" width="100%" src="{% static 'index/images/logo.png' %}"></a></h1>
          </div>

          <div class="col-10 col-xl-10 d-none d-xl-block">
            <nav class="site-navigation text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li class="has-children">
                  <a href="">Category</a>
                  <ul class="dropdown">
                    <li><a href="/blog/results">Survey results</a></li>
                    <li><a href="/blog/Fitness">Physical fitness</a></li>
                    <li><a href="/blog/Love">Love, Relationship and Mariage</a></li>
                    <li><a href="/blog/Foods">Foods and Health</a></li>
                    <li><a href="/blog/Technology">Technology and Hacks</a></li>
                    <li><a href="/blog/Career">Careers</a></li>
                    <li><a href="/blog/enterpreneur">Enterpreneur</a></li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="{% url 'blog' %}">Blog</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'blog' %}">All</a></li>
                    <li><a href="/blog/Education">Education</a></li>
                    <li><a href="/blog/Entertainment">Entertainment</a></li>
                    <li><a href="/blog/Sports">Sports</a></li>
                    <li><a href="/blog/Technology">Technology</a></li>
                    <li><a href="/blog/Religion">Religion</a></li>
                    <li><a href="/blog/Politics">Politics</a></li>
                    <li><a href="/blog/Gossips">Gossips</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_superuser %}
                  <li><a href="{% url 'survey_topics' %}">Survey Topics</a></li>
                  <li><a href="/admin">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'create_post' %}"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span> Create Post</span></a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right d-block">
            
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

    <div class="site-blocks-cover" style="background-image: url({% static 'index/images/bck.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row row-custom align-items-center">
          <div class="col-md-10 mt-5">
            <h1 class="mb-2 text-black w-75 mt-5"><span class="font-weight-bold">Smart Survey</span></h1>
            <div class="job-search">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active py-3" id="pills-job-tab" data-toggle="pill" href="#pills-job" role="tab" aria-controls="pills-job" aria-selected="true">Take a survey</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link py-3" id="pills-candidate-tab" data-toggle="pill" href="#pills-candidate" role="tab" aria-controls="pills-candidate" aria-selected="false">Giveaway</a>
                </li>
              </ul>
              {% if messages %}
              <ul class="text-center bg-success text-white" style="border-radius: 5px">
                {% for message in messages %}
                  {% if message %}
                    <li style="list-style-type: none">{{ message }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
              <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
                  <form action="" method="POST">
                    {% csrf_token %}
                      
                    {% if forms != None %}
                      <div class="text-center">
                        <p class="text-info" style="font-size: 15px; font-weight: bold">{{forms.description}}</span></p>
                        <strong>{{forms.question}}</strong>
                      </div>
                      <div class="row text-center" style="justify-content: center">
                        
                        <br><br>
                        
                        <div class="col-md-6 col-lg-6 mb-3 mb-lg-0">
                          <strong style="color: green; display: block">Response:</strong> {{forms.answer}}
                          {% comment %} <textarea type="text" class="form-control" name="foodConsumed" placeholder="eg. Web Developer" cols="6" rows="6"></textarea> {% endcomment %}
                        </div>
                        {% comment %} <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <div class="select-wrap">
                            <span class="icon-keyboard_arrow_down arrow-down"></span>
                            <select name="" id="" class="form-control">
                              <option value="">Category</option>
                              <option value="fulltime">Full Time</option>
                              <option value="fulltime">Part Time</option>
                              <option value="freelance">Freelance</option>
                              <option value="internship">Internship</option>
                              <option value="internship">Termporary</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                          <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                        </div> {% endcomment %}
                        <div class="col-md-12 col-lg-12 mb-3 mb-lg-0 mt-1">
                          <input type="submit" class="btn btn-primary btn-block" value="Submit Survey">
                        </div>
                        <hr>
                      <div class="text-danger"> NB: We do not collect or store any of your data</div><br>
                      <p style="color: black">The results for this survey will be available on our WhatsApp media status on <a href="https://wa.me/+2348131615393">Intouch Media. Also send us 
                      message on any survey idea</a></p>
                        {% else %}
                          <div class="text-center">No survey for now, check back later. Thanks</div>
                        
                      {% endif %}
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-candidate" role="tabpanel" aria-labelledby="pills-candidate-tab">
                  {% comment %} Give away display {% endcomment %}
                  <div>{% if message != None %}{{message}}{% endif %}</div>
                    {% autoescape off %}
                      {{giveaway.desc}}
                      {{giveaway.offer}}
                    {% endautoescape %}
                    {% comment %} {% if message == None %}<div>Posted at {{giveaway.time}}</div>{% endif %} {% endcomment %}
                  {% comment %} Give away display ends {% endcomment %}

                  {% comment %} <form action="#" method="post">
                    <div class="row">
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="eg. Carl Smith">
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="select-wrap">
                          <span class="icon-keyboard_arrow_down arrow-down"></span>
                          <select name="" id="" class="form-control">
                            <option value="">Category</option>
                            <option value="fulltime">Full Time</option>
                            <option value="fulltime">Part Time</option>
                            <option value="freelance">Freelance</option>
                            <option value="internship">Internship</option>
                            <option value="internship">Termporary</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="submit" class="btn btn-primary btn-block" value="Search">
                      </div>
                    </div>
                  </form> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
    <!-- <div class="site-section mt-5">
      <div class="container">
        <ul>
          <li><span class="fa fa-facebook"></span></li>
          <li><span class="fa fa-whatsapp"></span></li>
          <li><span class="fa fa-instagram"></span></li>
        </ul>
      </div>
    </div> -->

    <hr class="d-lg-none">
    <div class="site-section mt-sm-5 blog-section">
      <div class="container mt-sm-5">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-6 d-none d-lg-block d-md-block" data-aos="fade" >
            <h2 class="text-black">Latest Blog</h2>
          </div>
        </div>
        <div class="row">

        {% for post in posts %}

          {% if post.add_to_trending != True %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-3" data-aos="fade">
            <div class="position-relative unit-8">
              <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="/blog/details/{{post.title}}" class="text-black">{{post.title | linebreaks}}</a></h2>
            <a href="/blog/details/{{post.title}}" class="mb-3 d-block img-a"><img src="{{post.image.url}}" style="height: 200px; width: 100%" alt="Image" class="img-fluid rounded" height="500px"></a>
            <span class="d-block text-gray-500 text-normal small mb-3">By <a href="/blog/details/{{post.title}}">{{post.author}}</a> <span class="mx-2">&bullet;</span> {{post.time}} <span class="mx-2">&bullet;</span> <a href="#">{{post.category}}</a> </span> 
            
            </div>
          </div>
          {% else %}
            <div class="tricks d-lg-none">
              <h2 class="h5 ml-3 font-weihgt-normal line-height-sm mb-3">Read also: <a href="/blog/details/{{post.title}}" class="text-primary">{{post.title | linebreaks}}</a></h2>
            </div>
          {% endif %}
          <hr class="d-lg-none">
        {% endfor %}
            
        </div>
        <a href="{% url 'blog' %}" class="btn btn-primary">View all posts</a>
      </div>
    </div>


    <div class="site-section bg-light tech" style="position: relative">
      <div class="container">
        <div class="row justify-content-start text-left mb-5">
          <div class="col-md-9" data-aos="fade">
            <h2 class="font-weight-bold text-black">Technology, Tricks and Hacks</h2>
          </div>
          
        </div>
        
          <div class="row">
          {% for post in technologies %}
            <div class="col-lg-6 col-sm-12 col-xs-12 card">
              <div class="row mt-3">
                <div class="col-8 col-sm-7 col-xs-7">
                  <h2 class="h5 font-weihgt-normal line-height-sm mb-3"><a href="/blog/details/{{post.title}}" class="text-black">{{post.title | linebreaks}}</a></h2>
                  <span class="d-block text-gray-500 text-normal small mb-3">By <a href="/blog/details/{{post.title}}">{{post.author}}</a> <span class="mx-2">&bullet;</span> {{post.time}}</span> 
                </div>
                <div class="col-4 col-sm-5 col-xs-5">
                  <a href="/blog/details/{{post.title}}"><img src="{{post.image.url}}" alt="image" class="rounded" style="height: 70px; width: 70px"></a>
                </div>
              </div>
            </div>
            <hr>
          {% endfor %}
          </div>
        

        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <!-- <ul>
                <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
              </ul> -->
              <a href="/blog/Technology">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-start text-left mb-5">
          <div class="col-md-9" data-aos="fade">
            <h2 class="font-weight-bold text-black">Upcoming Events</h2>
          </div>
          <div class="col-md-3" data-aos="fade" data-aos-delay="200">
            <a href="admin/events/" class="btn btn-primary py-3 btn-block"><span class="h5">+</span> Post an event</a>
          </div>
        </div>
        {% for event in events %}
        <div class="row" data-aos="fade">
         <div class="col-md-12">

           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{event.title}}</h2>
                 <div class="badge-wrap">
                  <span class="bg-primary text-white badge py-2 px-4">{{event.paid_or_free}}</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{event.date_and_time}}.</a></div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>{{event.venue}}</span> | by <strong> {{event.instructor}} </strong></div>
               </div>
              </div>

              <div class="ml-auto">
                <!-- <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a> -->
                <a href="https://wa.me/+2348131615393" class="btn btn-primary py-2">View</a>
              </div>
           </div>
         </div>
        </div>
        {% endfor %}

        <!-- <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>    


    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-start text-left mb-5">
          <div class="col-md-9" data-aos="fade">
            <h2 class="font-weight-bold text-black">Job Vacancy</h2>
          </div>
          <div class="col-md-3" data-aos="fade" data-aos-delay="200">
            {% if user.is_superuser %}
              <a href="admin/events/vacancy/" class="btn btn-primary py-3 btn-block"><span class="h5">+</span> Post a Job</a>
            {% endif %}
          </div>
        </div>

        {% for vacancy in vacancies %}
        
          <div class="row" data-aos="fade">
         <div class="col-md-12">

           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{vacancy.position}}</h2>
                 <div class="badge-wrap">
                  <span class="bg-primary text-white badge py-2 px-4 d-none d-lg-block d-md-block">Deadline: {{vacancy.deadline}}</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">{{vacancy.company_name}}</a></div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>{{vacancy.location}}</span></div>
               </div>
              </div>

              <div class="ml-auto">
                <!-- <a href="#" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a> -->
                <a href="https://wa.me/{{vacancy.whatsapp_contact}}/?text={{vacancy.application_message}}" class="btn btn-primary py-2">Apply Job</a>
              </div>
           </div>

          </div>
        </div>

        {% endfor %}


        <!-- <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>    

    <div class="site-section bg-light" style="position: relative">
      <div class="container">
        <div class="row justify-content-start text-left mb-5">
          <div class="col-md-9" data-aos="fade">
            <h2 class="font-weight-bold text-black">Trending posts</h2>
          </div>
          
        </div>
        
          <div class="row">
          {% for post in posts %}
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <h2 class="card text-center" style="font-size: 15px;"><a href="/blog/details/{{post.title}}" class="text-primary">{{post.title | linebreaks}}</a></h2>
              <!-- <span class="d-block text-gray-500 text-normal small mb-3">By <a href="/blog/details/{{post.id}}">{{post.author}}</a> <span class="mx-2">&bullet;</span> {{post.time}}</span>  -->
            </div>
            <hr>
          {% endfor %}
          </div>
        

        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <!-- <ul>
                <li><a href="#"><i class="icon-keyboard_arrow_left h5"></i></a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-keyboard_arrow_right h5"></i></a></li>
              </ul> -->
              <a href="{% url 'blog' %}">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-white h4 font-weihgt-normal mb-4">Subscribe Newsletter</h2>
          </div>
        </div>  
        <form action="" class="row">
          <div class="col-md-9">
            <input type="text" class="form-control border-0 mb-3 mb-md-0" placeholder="Enter Your Email">
          </div>
          <div class="col-md-3">
            <input type="submit" value="Send" class="btn btn-dark btn-block" style="height: 45px;">  
          </div>
        </form>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        

        <div class="row">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Blog Category</h3>
                <ul class="list-unstyled">
                  <li><a href="blog/Education">Education</a></li>
                  <li><a href="blog/Entertainment">Entertainment</a></li>
                  <li><a href="blog/Business">Business</a></li>
                  <li><a href="blog/Gossips">Gossips</a></li>
                  <li><a href="blog/Technology">Technology</a></li>
                  <li><a href="blog/Sports">Sports</a></li>
                  <li><a href="blog/Religion">Religion</a></li>
                  <li><a href="blog/Politics">Politics</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Training and  others</h3>
                <ul class="list-unstyled">
                  <li><a href="blog/Foods">Foods and Nutrient</a></li>
                  <li><a href="blog/Health">Health</a></li>
                  <li><a href="blog/Fitness">Fitness</a></li>
                  <li><a href="blog/Love">Love &amp; Relationship</a></li>
                  <li><a href="blog/Career">Careers guide</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Archives</h3>
                <ul class="list-unstyled">
                  <li><a href="#">January 2018</a></li>
                  <li><a href="#">February 2018</a></li>
                  <li><a href="#">March 2018</a></li>
                  <li><a href="#">April 2018</a></li>
                  <li><a href="#">May 2018</a></li>
                  <li><a href="#">June 2918</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 col-lg-3 mb-5 mb-lg-0">
                <h3 class="footer-heading mb-4">Company</h3>
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'about' %}">Team</a></li>
                  <li><a href="{% url 'about' %}">Terms &amp; Policies</a></li>
                  <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li>
                <span class="d-block text-white">Address</span>
                B122 Jaja Hall, University of Lagos, Akoka, Yaba, Lagos, Nigeria
              </li>
              <li>
                <span class="d-block text-white">Telephone</span>
                +234 813 161 5393
              </li>
              <li><a href="https://wa.me/+2348231615393/?text=Hello%20Intouch">Send Us WhatsApp message</a></li>
              <li>
                <span class="d-block text-white">WhatsApp</span>
                  +234 813 161 5393
              </li>
              <li><a href="https://facebook.com/InTouch-Media-and-Survey-104972581465970">Connect with us on facebook</a></li>
              <li>
                <span class="d-block text-white">Email</span>
                info@intouch.com
              </li>
            </ul>
            
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'index/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'index/js/jquery-ui.js' %}"></script>
  <script src="{% static 'index/js/popper.min.js' %}"></script>
  <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'index/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'index/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'index/js/aos.js' %}"></script>
  
  <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
        async defer></script>

  <script src="{% static 'index/js/main.js' %}"></script>
    
  </body>
</html>